parameters:
	level: 9
	paths:
		- src
		- tests
	ignoreErrors:
		- message: "#^Property Silarhi\\\\CursorPagination\\\\Tests\\\\Entity\\\\.*\\:\\:\\$id \\(int\\|null\\) is never assigned int so it can be removed from the property type\\.$#"
